<form [formGroup]="tpsForm">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="sp">Start Point</span>
    </div>
    <input type="text" class="form-control" formControlName="start">
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="ep">End Point</span>
    </div>
    <input type="text" class="form-control" formControlName="end">
  </div>
  <div class="text-center">
    <button [disabled]="tpsForm.invalid" type="button" class="btn btn-primary" (click)="onAdd()">Primary</button>
  </div>
</form>

<div>
  {{arr | json}}
</div>

<!-- <div class="mt-5">

</div>
<div>
  <div *ngIf="straightOrg">
    <hr class="straight">
  </div>
</div> -->

<div class="container">


  <!-- <div class="row mt-5">

    <div class="col">
      <small>hi</small>
    </div>
    <div class="col" >
      <small>ji</small>
    </div>
  </div> -->
  <div>
    <h6>Colors code</h6>
    <small style="color: purple;">purple: continued trip</small><br>
    <small style="color: rgb(49, 117, 180);">Blue: Not a continued trip</small><br>
    <small style="color: rgba(90, 96, 102, 0.863);">Grey: consecutive trip</small>
  </div>
  <div class="row mt-1">
    <!-- Continued trip -->
    <div class="col" *ngIf="straightOrg?.straight">
      <small>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      </svg>
      <hr class="straightLine">
    </small><br>
      <small>{{onSlice(straightOrg?.startObj.start) }} - {{onSlice(straightOrg?.startObj.end) }} </small>
    </div>
    <small *ngIf="straightOrg?.straight">{{onSlice(straightOrg?.endObj.start) }} - {{onSlice(straightOrg?.endObj.end) }} </small>

    <!-- Not Continued trip -->
    <div class="col" *ngIf="straightBLue?.straight">
      <small>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      </svg>
      <hr class="straightLineArrow">
      </small><br>
      <small>{{onSlice(straightBLue?.startObj.start) }} - {{onSlice(straightBLue?.startObj.end) }} </small>
    </div>
    <small *ngIf="straightBLue?.straight">{{onSlice(straightBLue?.endObj.start) }} - {{onSlice(straightBLue?.endObj.end)}} </small>

    <!-- consecutive trips  -->

    <div class="col" *ngIf="tripLoop?.straight">
      <small>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      </svg>
      <hr class="consecutive">
      </small><br>
      <small>{{tripLoop?.startObj.start}} - {{tripLoop?.startObj.end}} </small>
    </div>
    <small  *ngIf="tripLoop?.straight">{{tripLoop?.endObj.start}} - {{tripLoop?.endObj.end}} </small>
  </div>


</div>
