.straightLine {

  margin-top: -15px;
  margin-left: 17px;
  background-color: purple;
}

.straightLineArrow {
  margin-top: -15px;
  margin-left: 17px;
  background-color: rgb(49, 117, 180);
}

.consecutive {
  margin-top: -15px;
  margin-left: 17px;
  background-color: rgba(90, 96, 102, 0.863);
}
